.icon-back {
  width: 128px;
  height: 128px;
}

.icon-close {
  width: 128px;
  height: 128px;
}

.icon-forward {
  width: 128px;
  height: 128px;
}

.icon-list-fold-solid {
  width: 128px;
  height: 128px;
}

.icon-list-fold {
  width: 128px;
  height: 128px;
}

.icon-list-menu {
  width: 128px;
  height: 128px;
}

.icon-list-open-solid {
  width: 128px;
  height: 128px;
}

.icon-list-open {
  width: 128px;
  height: 128px;
}

.icon-loading {
  width: 128px;
  height: 128px;
}

.icon-refresh {
  width: 128px;
  height: 128px;
}

.icon-search {
  width: 128px;
  height: 128px;
}

.icon-selected {
  width: 128px;
  height: 128px;
}

.icon-settings {
  width: 128px;
  height: 128px;
}

.icon-share {
  width: 128px;
  height: 128px;
}

.icon-test {
  width: 128px;
  height: 128px;
}

.icon-trash {
  width: 128px;
  height: 128px;
}

.icon-unselected {
  width: 128px;
  height: 128px;
}

