.icon_list_back2 {
  width: 128px;
  height: 128px;
}

.icon_list_close_1 {
  width: 128px;
  height: 128px;
}

.icon_list_drawer_open {
  width: 128px;
  height: 128px;
}

.icon_list_fewer1 {
  width: 128px;
  height: 128px;
}

.icon_list_fewer2 {
  width: 128px;
  height: 128px;
}

.icon_list_forward {
  width: 128px;
  height: 128px;
}

.icon_list_loading {
  width: 128px;
  height: 128px;
}

.icon_list_multiselect_small {
  width: 128px;
  height: 128px;
}

.icon_list_multiselect_un_small {
  width: 128px;
  height: 128px;
}

.icon_list_open1 {
  width: 128px;
  height: 128px;
}

.icon_list_open2 {
  width: 128px;
  height: 128px;
}

.icon_list_refresh {
  width: 128px;
  height: 128px;
}

.icon_list_search {
  width: 128px;
  height: 128px;
}

.icon_list_sharenew {
  width: 128px;
  height: 128px;
}

.icon_list_trash {
  width: 128px;
  height: 128px;
}

.icon_nav_settings {
  width: 128px;
  height: 128px;
}

